<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand page-scroll" href="/"><img src="https://s3.ap-northeast-2.amazonaws.com/ksulion/develop/ksulion_logo.png"></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="page-scroll" href="#page-top">Home</a>
			</li>
			<li>
				<a class="page-scroll" href="#services">Services</a>
			</li>
			<li>
				<a class="page-scroll" href="#schedule">Schedule</a>
			</li>
			<li>
				<a class="page-scroll" href="#member">Member</a>
			</li>
			<li>
				<a class="page-scroll" href="#contact">Contact</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>


<!-- Header Section (+header image) -->
<header>
	<div class="col-sm-12 header-content text-center text-bold">
		<div class="header-content-inner">
			<img src="https://s3.ap-northeast-2.amazonaws.com/ksulion/develop/ksulion_header_cor.png" style="padding-top: 50px;">
			<hr>
			
			<p style="font-size:1.7em">
				컴퓨터를 전혀 모르는 <u>대학생</u>들이<br>
				내가 만들고 싶은 <u>IT서비스</u>를
			</p>
			<p style="font-size:2.0em">
				<u>직접</u> 배워서<br>
				<u>직접</u> 런칭한다.
			</p>
			<p style="font-size:2.7em">
				단 <u>90일</u> 만에!
			</p>
			
			<a href="http://www.likelion.net/" target="_blank" class="btn btn-primary btn-xl page-scroll">지원마감</a>
		</div>
	</div>
</header>


<!-- Go Button Section -->
<section class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">A B O U T</h2>
				<hr class="light">
				<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">멋사 소개!</a>
			</div>
		</div>
	</div>
</section>


<!-- Service desc Section -->
<section id="services" class="bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">"멋쟁이사자처럼"은?</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 text-center">
				<div class="service-box">
					<img class="sr-icons" src="https://s3.ap-northeast-2.amazonaws.com/ksulion/develop/study_icon.png">
					
					<h3>STUDY</h3>
					<p class="text-muted">
						HTML/CSS부터 jQuery까지의 Front-end,<br>
						Ruby on Rails와 같은<br>
						Web Framework를 공부합니다.
					</p>
				</div>
			</div>
			<div class="col-lg-4 text-center">
				<div class="service-box">
					<img class="sr-icons" src="https://s3.ap-northeast-2.amazonaws.com/ksulion/develop/service_icon.png">
					
					<h3>SERVICE</h3>
					<p class="text-muted">
						평소에 "이런 IT 서비스를 꼭 만들어 보고 싶었다."<br>
						라고 생각했던 것들을 본인이 직접 구현합니다.
					</p>
				</div>
			</div>
			
			<div class="col-lg-4 text-center">
				<div class="service-box">
					<img class="sr-icons" src="https://s3.ap-northeast-2.amazonaws.com/ksulion/develop/network_icon.png">
					
					<h3>NETWORK</h3>
					<p class="text-muted">
						나와 비슷한 생각을 가진<br>
						대학교 친구들을 만날 수 있습니다.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Schedule Section -->
<section id="schedule">
	<div class="container">
		<div class="row">
			<center><img src="https://s3.ap-northeast-2.amazonaws.com/ksulion/develop/likelion_schedule.png"></center>
		</div>
	</div>
</section>


<!-- Member Profile Section -->
<aside class="bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">2016 경성대 X 멋사 멤버</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	
	<div class="container text-center" id="member" style="margin-top: 20px;"> 
		<div class="row">
			<div class="col-lg-4 col-md-4 text-center">
				<img class="img img-circle img_profile" src="https://scontent.xx.fbcdn.net/v/t1.0-1/c0.0.320.320/p320x320/13082711_1183693974988479_8527058865888893581_n.jpg?oh=078f40b5b40d1caf663035c26a076edb&oe=580C6885"><br><br><br>
				<a href="https://www.facebook.com/ChangJunMoon?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
				<h3>문창준 (팀장)</h3>
				<p class="text-muted">
					디지털미디어학과 3학년
				</p>
			</div>
			<div class="col-lg-4 col-md-4 text-center">
				<img class="img img-circle img_profile" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p320x320/13331030_1132894506784395_1749392666142310840_n.jpg?oh=dfacf2ed0fae75d28bcb24d61337f7e5&oe=580AA5F7"><br><br><br>
				<a href="https://www.facebook.com/jinbroyo" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
				<h3>박진형</h3>
				<p class="text-muted">
					디지털미디어학과 4학년
				</p>
			</div>
			<div class="col-lg-4 col-md-4 text-center">
				<img class="img img-circle img_profile" src="https://scontent.xx.fbcdn.net/v/t1.0-1/c0.0.320.320/p320x320/11707306_770078639788474_3462088005189604637_n.jpg?oh=9f5cd18dbd72029d354a6f54c2a1fdba&oe=580F3C16"><br><br><br>
				<a href="https://www.facebook.com/dnqkr95?ref=ts&fref=ts" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
				<h3>이은희</h3>
				<p class="text-muted">
					컴퓨터공학과 4학년
				</p>
			</div>
		</div>
	</div>
</aside>


<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">문의하기</h2>
				<hr class="primary">
				
			</div>
			
			<div class="col-lg-4 col-lg-offset-4 text-center">
				<i class="fa fa-envelope-o fa-3x sr-contact"></i>
				<p style="margin-top: 10px; cursor:pointer; text-decoration: none;"><a data-toggle="modal" data-target="#myModal">master@ksulion.net</a></p> <!-- crate modal -->
			</div>
		</div>
	</div>
</section>


<!-- Email modal -->
<div class="modal fade" id="myModal" role="dialog">
	<form action="/home/mail" method="post">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">문의하기</h4>
			</div>
			
			<div class="modal-body">
				<p>
					<div class="form-group">
						<label for="InputTitle">이름</label>
						<input name="user_name" type="text" class="form-control" id="InputTitle" required>
					</div>
					<div class="form-group">
						<label for="InputEmail">이메일(답변받을주소)</label>
						<input name="user_email" type="email" class="form-control" id="InputEmail" required>
					</div>
					<div class="form-group">
						<label for="InputTitle">제목</label>
						<input name="title" type="text" class="form-control" id="InputTitle" required>
					</div>
					
					<div class="form-group">
						<label for="InputContent">문의내용</label><br>
						<textarea name="content" class="form-control" id="InputContent" rows="10" required></textarea>
					</div>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				<button type="submit" class="btn btn-default">보내기</button>
			</div>
		</div>
	</div>
	</form>
</div>
